<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Create Accommodation</title>

</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h2> Add Accommodation </h2>
        </div>
        <div class="row">
            <div class="col-md-7">


                <form action="." method="post">
                    {% csrf_token %}
                    
                        <div id="div_id_name" class="form-group"><label for="id_name" class=" requiredField">
                            Name<span class="asteriskField">*</span> </label>
                            <div><input type="text" name="name" maxlength="80" class="textinput textInput form-control"
                                        required="" id="id_name"></div>
                        </div>
                        <div class="form-group">
                            <div id="div_id_available" class="form-check"><input type="checkbox" name="available"
                                                                                 class="checkboxinput form-check-input"
                                                                                 id="id_available" checked=""> <label
                                    for="id_available" class="form-check-label">
                                Available
                            </label></div>
                        </div>
                        <div id="div_id_city" class="form-group"><label for="id_city" class=" requiredField">
                            City<span class="asteriskField">*</span> </label>
                            <div><input type="text" name="city" maxlength="200" class="textinput textInput form-control"
                                        required="" id="id_city"></div>
                        </div>
                        <div id="div_id_num_of_guests" class="form-group"><label for="id_num_of_guests"
                                                                                 class=" requiredField">
                            Num of guests<span class="asteriskField">*</span> </label>
                            <div><input type="number" name="num_of_guests" class="numberinput form-control" required=""
                                        id="id_num_of_guests"></div>
                        </div>
                        <div id="div_id_address" class="form-group"><label for="id_address" class=" requiredField">
                            Address<span class="asteriskField">*</span> </label>
                            <div><input type="text" name="address" maxlength="1000"
                                        class="textinput textInput form-control" required="" id="id_address"></div>
                        </div>
                        <div id="div_id_day_available" class="form-group"><label for="id_day_available"
                                                                                 class=" requiredField">
                            Day available<span class="asteriskField">*</span> </label>
                            <div><input type="text" name="day_available" maxlength="200"
                                        class="textinput textInput form-control" required="" id="id_day_available">
                            </div>
                        </div>
                        <div id="div_id_payment_method" class="form-group"><label for="id_payment_method"
                                                                                  class=" requiredField">
                            Payment method<span class="asteriskField">*</span> </label>
                            <div><select name="payment_method" class="select form-control" required=""
                                         id="id_payment_method">
                                <option value="" selected="">---------</option>
                                <option value="1">Free</option>
                                <option value="2">Fixed Price</option>
                                <option value="3">Any Amount</option>

                            </select></div>
                        </div>

                        <button class="btn btn-dark mt-3" type="submit"> Save</button>
                    </form>

            </div>
        </div>


    </div>



 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>