<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Sign Up </title>

</head>

<body>
<div class="container">

<div class="row">
     <form action="{% url 'accommodation_search' %}" method="get">
           <div class="row height d-flex justify-content-center align-items-center">
               <div class="col-md-12 mb-4 search">
                     <i class="fa fa-search" style="color: #17a2b8;"></i>
                     <div id="div_id_payment_method" class="form-group"><label for="id_payment_method"
                                                                                  class=" requiredField">
                            Payment method</label>
                            <div><select name="payment_method" class="select form-control" required=""
                                         id="id_payment_method">
                                <option value="" selected="">---------</option>
                                <option value="1">Free</option>
                                <option value="2">Fixed Price</option>
                                <option value="3">Any Amount</option>

                            </select></div>
                        </div>



                    <input type="search" class="form-control" name="search" placeholder="Search By Price, Num of Guests, City.. ">
               </div>


            </div>
               <button type="submit" class="sch btn btn-md btn-dark">Search</button>
        </form>


    {% for accommodation_data in accommodation_object %}
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                  <div class="card-body">
                      <a href="{% url 'detail_accommodation' accommodation_data.id %}">
                          <h5 class="card-title">{{ accommodation_data.name }}</h5></a>
                    <h6 class="card-subtitle mb-2 text-muted">{{ accommodation_data.payment_method }}</h6>
                    <p class="card-text">{{ accommodation_data.address }}</p>
                    <p href="#" class="card-link">{{ accommodation_data.city }}</p>
                    <p href="#" class="card-link">{{ accommodation_data.day_available }}</p>
                    <p href="#" class="card-link">{{ accommodation_data.num_of_guests }}</p>

                  </div>
                </div>

        </div>
    {% endfor %}
</div>


</div>


 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>